

.menu {
    background-color: #222;
    border-left: white 1px solid;
    float: right;
    width: 220px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.menu div {
    border-bottom: solid black 2px;
    padding: 8px 14px;
}
.menu div:last-child {
    border-bottom: none;
}
.menu img {
    width: 100%;
    margin-bottom: 10px;
}
.menu div.selected {
    background-color: rgb(24, 46, 24);
}

.intersection {
    border-right: gainsboro solid 2px;
    height: 100vh;
    width: 100vh;
    position: relative;
}

.midLineV {
    border-left: dashed white 5px;
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
}
.midLineH {
    border-bottom: dashed white 5px;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

.corner {
    background-color: darkgray;
    display: inline-block;
    position: absolute;
    border: dimgray 10px solid;
    width: 30%;
    height: 30%;
}

.corner.topRight {
    border-top: none;
    border-right: none;
    top: 0px;
    right: 0px;
}
.corner.topLeft {
    border-top: none;
    border-left: none;
    top: 0px;
    left: 0px;
}
.corner.bottomLeft {
    border-left: none;
    border-bottom: none;
    bottom: 0px;
    left: 0px;
}
.corner.bottomRight {
    border-right: none;
    border-bottom: none;
    bottom: 0px;
    right: 0px;
}

.hitbox {
    position: absolute;
}

.hitbox.hit0 {
    height: 20%;
    width: 50%;
    right: 0;
    top: 30%;
}
.hitbox.hit1 {
    height: 50%;
    width: 20%;
    top: 0;
    left: 30%;
}
.hitbox.hit2 {
    height: 20%;
    width: 50%;
    left: 0;
    bottom: 30%;
}
.hitbox.hit3 {
    height: 50%;
    width: 20%;
    bottom: 0;
    right: 30%;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.dir * {
    position: absolute;
}

.car {
    border: 3px solid darkgray;
}
.dir0 .car {
    height: 8%;
    aspect-ratio: 2;
    right: 1%;
    top: 34.5%;
}
.dir1 .car {
    width: 8%;
    aspect-ratio: .5;
    top: 1%;
    left: 34.5%;
}
.dir2 .car {
    height: 8%;
    aspect-ratio: 2;
    left: 1%;
    bottom: 34.5%;
}
.dir3 .car {
    width: 8%;
    aspect-ratio: .5;
    bottom: 1%;
    right: 34.5%;
}

.intersection img {
    width: 100%;
}
.dir0 img { rotate: 0deg;}
.dir1 img { rotate: -90deg;}
.dir2 img { rotate: 180deg;}
.dir3 img { rotate: 90deg;}


.hide {
    display: none;
}