

.menu {
    background-color: #222;
    border-left: grey 1px solid;
    border-bottom: grey 1px solid;
    float: right;
    width: 220px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.menu>div {
    border-bottom: solid black 2px;
    padding: 8px 14px;
}
.menu>div:last-child {
    border-bottom: none;
}
.menu img {
    width: 100%;
    margin-bottom: 10px;
}
.menu>div.selected {
    background-color: rgb(24, 46, 24);
}

.intersection {
    border-right: gainsboro solid 2px;
    height: 100vh;
    width: 100vh;
    position: relative;
}

.midLineV {
    border-left: dashed white 10px;
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
}
.midLineH {
    border-bottom: dashed white 10px;
    height: 0px;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

.message {
	position: absolute;
    top: 0;
    width: 20%;
	margin: 10px 0;
	padding: 20px 0;
	border: 3px solid black;
	background-color: #222;

	font-size: 20px;
	font-family: helvetica;
	text-align: center;
}
.message.left {
    left: 5%;
}
.message.right {
    right: 5%;
}
.message.bRight{
    right: 5%;
    bottom: 0;
    top: auto;
}
.flashgreen {
    background-color: green;
    animation-name: flash;
    animation-delay: 100ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes flash {
    from {background-color: green;}
    to {background-color: #222;}
}


.corner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.corner > div{
    box-sizing: border-box;
    background-color: darkgray;
    display: inline-block;
    position: absolute;
    border: dimgray 10px solid;
    width: 30%;
    height: 30%;

    border-top: none;
    border-right: none;
    top: 0px;
    right: 0px;
}

.hitboxes div {
    position: absolute;
}

.hit0 {
    height: 70%;
    width: 30%;
    right: 0;
    top: 0;
}
.hit1 {
    height: 30%;
    width: 70%;
    top: 0;
    left: 0;
}
.hit2 {
    height: 70%;
    width: 30%;
    left: 0;
    bottom: 0;
}
.hit3 {
    height: 30%;
    width: 70%;
    bottom: 0;
    right: 0;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}


.car {
    border: 3px solid darkgray;
    height: 8%;
    aspect-ratio: 2;
    right: 1%;
    top: 34.5%;
}

.arrow, .extra, .pedestrian, .crosswalk, .sharks{
    width: 100%;
    height: 100%;
}

#priority {
    position: absolute;
}
#priority.deflect {
	width: 37%;
	height: 37%;
	border-radius: 0 0 0 100%;
	right: 31%;
	top: 31%;
	border-bottom: 10px dashed white;
	border-left: 10px dashed white;
}
#priority.straight {
    box-sizing: border-box;
    height: 38%;
    width: 100%;
    top: 31%;
    left: 0;
	border-top: 10px dashed white;
    border-bottom: 10px dashed white;
}

.menu .prioritysign {
    margin: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.dir .prioritysign {
    top: 23%;
    right: 13%;
    width: 5%;
    height: 5%;
}
.prioritysign > div {
    margin: auto;
    rotate: 45deg;
    background: white;
    border: black solid 4px;
    border-radius: 10%;
    width: 70.71%;
    height: 70.71%;
}
.prioritysign>div>div {
    position: absolute;
    background: #ffee00;
    width: 70%;
    height: 70%;
    top: 14%;
    left: 14%;
    border-radius: 3%;
}

.dir {
    position: absolute;
    width: 100%;
    height: 100%;
}
.dir * {
    position: absolute;
}
.dir0 { rotate: 0deg;   }
.dir1 { rotate: -90deg; }
.dir2 { rotate: 180deg; }
.dir3 { rotate: 90deg;  }


.hide {
    display: none;
}